@import "application-fonts.less";
@import "application-variables.less";
@import "application-icons.less";
@import "application-sidebar.less";

// Fonts
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

@media (min-width: 1600px) { 
	.container-fluid{
		padding:0 200px;
	}
}
html{
	min-height:100%;
}

body{
	.container-main{
		min-height:100%;
		padding-top:80px;
		.row{
			margin-bottom:@grid-gutter-width;
			.row{
				&:last-child{
					margin-bottom:0;
				}
			}
		}
		
	}
}

.navbar-main{
	height:80px;
	padding:15px 0px;
	background-color:@gray-darker;
	border-width:0;
	.navbar-header{
		.navbar-brand{
			font-size:24px;
			font-family:'Montserrat';
			font-weight:400;
			color:@brand-primary;
			border-width:0;
			span{
				font-size:16px;
				font-family:'Lato';
				font-weight:300;
			}
		}
	}
	.nav{
		border-width:0;
		li{
			a{
				font-family:'Lato';
				font-weight:300;
				font-size:18px;
				letter-spacing:1px;
				&.search-trigger{
					.icon{
						&:before{
							margin-right:0;
						}
					}
				}
				&.join{
					border-left:1px solid @clouds;
				}
				.glyphicon{
					font-size:22px;
				}
			}
		}
	}
	.navbar-products{
		display:none;
		height:400px;
		margin-top:0px;
		background-color:@gray-darker;
		color:@clouds;
		h3{
			color:@peter-river;
			font-family:'Lato';
			font-weight:300;
		}
		.list-unstyled{
			font-size:16px;
			li{
				a{
					width:100%;
					padding:6px 8px;
					display:block;
					&:hover{
						text-decoration:none;
						color:@peter-river;
						background-color:#333;
					}
				}
			}
		}
	}
	
	.navbar-books{
		.media{
			padding:7px;
			&:hover{
				cursor:pointer;
				background-color:#333;
				color:@peter-river;
			}
		}
	}
}

.modal-search{
	margin:0;
	padding:0;
	.modal-dialog {
	  	width: 100%;
	  	height: 100%;
	  	padding: 0;
	  	margin:0;
	  	.modal-content {
	  		margin:0;
		  	height: 100%;
		  	border-radius: 0;
		  	background-color:rgba(0,0,0,.8);
		  	padding:100px;
		  	color:@clouds;
		  	.modal-header,.modal-body,.modal-footer{
			  	border-width:0;
		  	}
		  	.modal-header{
		  		height:100px;
			  	a{
				  	color:@clouds;
				  	font-size:32px;
			  	}
		  	}
		  	label{
			  	font-size:32px;
			  	margin-right:15px;
		  	}
		  	form{
			  	width:100%;
			  	.input-group{
				  	&:before{
					  	color:@clouds;
					  	width:36px;
					  	font-family:'Linecons';
					  	content: '\e020';
					  	font-size:28px;
					  	margin-right:-36px;
				  	}
			  	}
			  	input[type=search]{
				  	border-width:0 0 2px 0;
				  	background-color:transparent;
				  	box-shadow:none;
				  	color:@white;
				  	border-radius:0;
				  	padding-left:50px;
				  	font-size:32px;
				  	font-family:'Lato';
				  	font-weight:300;
				  	width:100%;
				  	outline: none;
				  	&:focus{
					  	outline: none;
				  	}
			  	}
		  	}
		  	
		}
	}
}

.modal-login{
	top:65px;
	.modal-dialog{
		.modal-content{
			border-radius:0;
			color:@clouds;
			background-color:black;
			box-shadow:none;
			.modal-header,.modal-body,.modal-footer{
				border-width:0;
			}
			.modal-header{
				.modal-title{
					text-align:center;
				}
				button{
					&.close{
						font-size:32px;
						
					}
				}
			}
			.modal-body{
				text-align:center;
				margin-bottom:0;
				.btn-login-facebook, .btn-login-twitter {
					text-align:left;
					border-radius:0;
					border-width:0;
					width:224px;
					margin-left:0 auto;
					margin-right:0 auto;
					margin-bottom:15px;
					font-size:16px;
					.fa{
						padding-right:15px;
						width:32px;
					}
				}
				.btn-login-facebook{
					background-color:@wet-asphalt;
				}
				.btn-login-twitter{
					background-color:@peter-river;
				}
			}
			.modal-footer{
				margin-top:0;
				text-align:center;
			}
			form{
				border-top:1px solid @gray;
				padding-top:15px;
				margin-bottom:0;
				text-align:center;
				.form-group{
					text-align:center;
					.input-group{
						text-align:center;						
						margin-left:auto;
						margin-right:auto;
					}
				}
				input{
					text-align:center;
					border-radius:50px;
					box-shadow:0;
					border-width:0;
					outline:none;
					color:@belize-hole;
					font-family:'Lato';
					font-weight:300;
				}
			}
			button[type=submit]{
				text-align:center;
				border-radius:50px;
				box-shadow:0;
				border-width:0;
				width:224px;
				padding:12px 0px;
				outline:none;
				background-color:@peter-river;
				font-family:'Lato';
				font-weight:400;
				font-size:18px;
				margin-bottom:15px;
				&:hover{
					background-color:@belize-hole;
				}
			}
		}
	}
}


.modal-register{
	top:65px;
	border-width:0;
	.modal-dialog{
		.modal-content{
			border-radius:0;
			border-width:0;
			background-color:@white;
			box-shadow:none;
			padding:50px;
			.modal-header,.modal-body,.modal-footer{
				border-width:0;
			}
			.modal-header{
				.modal-title{
					text-align:center;
				}
				button{
					&.close{
						font-size:32px;
						
					}
				}
			}
			.modal-body{
				.form{
					.form-group{
						label{
							font-size:20px;
							font-weight:300;
							
						}
						input{
							border-radius:0;
							box-shadow:none;
							font-family:'Lato';
							font-weight:300;
							border-width:0px 0px 2px 0px;
							background-color:transparent;
							padding-left:0;
							font-size:24px;
							&[type=checkbox]{
								margin-top:8px;
								font-size:22px;
							}
						}
						.form-control-feedback{
							top:23px;
							right:0px;
							line-height:0;
							cursor:pointer;
							color:@gray-light;
						}
						button[type=submit]{
							border-radius:50px;
							width:180px;
							padding-top:4px;
							background-color:@peter-river;
							border:2px solid @peter-river;
							font-size:24px;
							color:@white;
							&:hover{
								background-color:transparent;
								color:@peter-river;
							}
						}
					}
				}
			}
			.modal-footer{
				
			}
		}
	}
}

.st-menu{
	.media{
		padding:20px;
		color:@clouds;
		font-size:12px;
		h4{
			font-size:18px;
			font-family:'Lato';
			font-weight:300;
			color:@white;
		}
		border-bottom:1px solid #333;
		.shopping-cart-price{
			margin-top:5px;
			font-size:14px;
			display:block;
			color:@peter-river;
			text-align:right;
		}
	}
	.actions{
		padding:20px;
		button{
			border-radius:50px;
			width:150px;
			padding-top:4px;
			background-color:@peter-river;
			border:2px solid @peter-river;
			font-size:18px;
			color:@white;
			&:hover{
				background-color:transparent;
				color:@peter-river;
			}
		}
	}
	.totals{
		padding:20px;
		color:@belize-hole;
		font-size:22px;
		text-align:right;
		background-color:#333;
	}
}

.product-single{
	.product-image{
		.product-image-footer{
			margin-top:15px;
			.product-image-thumbnails{				
				img{
					cursor:pointer;
					margin-right:10px;
				}
			}
			.product-rating{
				.product-rating-stars{
					padding:5px 15px;
					font-size:28px;
					color:@alizarin;
				}
				button{
					margin-top:7px;
					margin-right:15px;
					border-radius:40px;
					border-width:2px;
					background-color:@alizarin;
					border-color:@alizarin;
					color:@white;
					&:hover{
						background-color:@white;
						color:@alizarin;
					}
				}
			}
		}
	}
	.product-summary{
		.product-header{
			padding-bottom:15px;
			margin-bottom:0;
			h1{
				margin-top:0;
				padding-top:0;
				small{
					font-family:'Lato';
					font-weight:300;
					font-size:16px;
				}
			}
			.product-price{
				padding:8px 10px 0 0px;
				color:@alizarin;
				font-size:24px;
			}
			.btn-product-add{
				border-radius:50px;
				border-width:2px;
				background-color:@alizarin;
				border-color:@alizarin;
				&:hover{
					background-color:@white;
					color:@alizarin;
				}
			}
		}
		.product-nav{
			ul{
				font-family:'Lato';
				font-weight:300;
				li{
					a{
						color:@silver;
						
					}
					&.active{
						a{
							color:@alizarin;
						}
						&:hover{
							color:@pomegranate;
						}
					}
					&:hover{
						a{
							color:@concrete;
						}
					}
				}
			}
		}
		
		.product-content{
			.tab-pane{
				margin-left:0;
				p{
					font-size:17px;
					font-family:'Lato';
					font-weight:300;
					color:@gray;
				}
				.media-list{
					.media{
						font-family:'Lato';
						font-weight:300;
						margin-bottom:25px;
					}
				}
				&.product-videos{
					
				}
				&.product-reviews{
					form{
						label{
							padding-top:14px;
						}
					}
				}
			}
		}
		
	}
}

.modal-product-video{
	top:65px;
	.modal-dialog{
		.modal-content{
			border-radius:0;
			color:@clouds;
			background-color:black;
			box-shadow:none;
			.modal-header,.modal-body,.modal-footer{
				border-width:0;
			}
			.modal-header{
				.modal-title{
					text-align:center;
				}
				button{
					&.close{
						font-size:32px;
						
					}
				}
			}
		}
	}
}
	
.cart-nav{
	.nav{
		li{
			a{
				padding-top:30px;
				padding-bottom:30px;
				border-width:0 0 4px 0;
				border-color:@gray-lighter;
				border-radius:0;
				font-size:24px;
				font-family:'Lato';
				font-weight:300;
				-webkit-font-smoothing: antialiased;
				color:@gray-lighter;
				background-color:#fafafa;
				.fa{
					font-size:24px;
					font-weight:100;
					-webkit-font-smoothing: antialiased;
				}
				&:hover{
					color:@gray;
					border-color:@gray-light;
				}
			}
			&.active{
				a{
					color:@alizarin;
					border-width:0 0 4px 0;
					border-color:@alizarin;
					background-color:@white;
					&:hover{
						color:@alizarin;
						border-width:0 0 4px 0;
						border-color:@alizarin;
					}
				}
			}
		}
	}
	&.row{
		margin-bottom:0px !important;
	}
	
}		
	
.cart-details{	
	.cart-products{
		margin:0;
		thead{
			tr{
				th{
					color:@pomegranate;
					border-width:0;
					font-weight:300;
				}
			}
		}
		tbody{
			tr{
				td{
					color:@gray;
					&.price, &.total{
						font-size:20px;
						font-weight:300;
						vertical-align:middle;
					}
					&.quantity{
						vertical-align:middle;
					}
				}
			}
		}
		tfoot{
			font-size:24px;
			font-weight:300;
			font-family:'Lato';
			color:@pomegranate;
		}
		input[type=number]{
			border-width:0;
			outline:none;
			box-shadow:none;
			width:45px;
			padding:5px 10px;
			text-align:center;
		}
	}
	
	
	.promo-code{
		margin-bottom:15px;
		background-color:@clouds;
		padding:15px 5px;
		label{
			padding-right:15px;
			font-weight:300;
			font-family:'Lato';
			color:@concrete;
		}
		input{
			border-width:0;
			box-shadow:none;
			outline:none;
			margin-right:15px;
			font-weight:300;
		}
		button{
			border-radius:0;
			font-weight:300;
			font-family:'Lato';
			margin-left:15px;
			background-color:@concrete;
		}
	}
	
	.cart-actions{
		margin-bottom:15px;
		button{
			margin-top:7px;
			margin-right:15px;
			border-radius:40px;
			border-width:2px;
			&.btn-danger{
				background-color:@alizarin;
				border-color:@alizarin;
				color:@white;
				&:hover{
					background-color:@white;
					color:@alizarin;
					border-color:@alizarin;
				}
			}
			
			&.btn-default{
				background-color:@concrete;
				border-color:@concrete;
				color:@white;
				&:hover{
					background-color:@white;
					color:@concrete;
					border-color:@concrete;
				}
			}
			&:last-child{
				margin-right:0;
			}
		}
		
	}
}

.cart-login{
	.form-login,.form-register{
		margin-top:15px;
		label{
			font-weight:300;

		}
		input{
			border-radius:0;
			border-width:0;
			outline:none;
			padding-left:0;
			font-size:24px;
			color:@gray;
			font-weight:100;
			font-family:'Lato';
			border-width:0 0 3px 0;
			border-color:@alizarin;
			box-shadow:none;
			margin-bottom:20px;
			&:focus{
				outline:none;
				box-shadow:0;
				border-width:0 0 3px 0;
			}
		}
		button{
			border-radius:40px;
			border-width:2px;
			background-color:@alizarin;
			border-color:@alizarin;
			color:@white;
			font-weight:300;
			padding-left:25px;
			padding-right:25px;
			&:hover{
				background-color:@white;
				color:@alizarin;
				border-color:@alizarin;
			}
		}
	}
	.col-form-register{
		h3{
			color:@gray-light;
		}
	}
	.form-register{
		
		input{
			border-color:@gray-lighter;
		}
		button{
			background-color:@gray-lighter;
			border-color:@gray-lighter;
			color:@gray;
			&:hover{
				color:@gray;
				border-color:@gray-lighter;	
			}
		}
	}
	.col-help{
		h3{
			color:@gray-light;
		}
		color:@gray-light;
	}
}

.cart-shipping,.cart-billing{
	form{
		margin-top:15px;
		label{
			font-weight:300;
			color:@gray-light;
		}
		input{
			border-width:0 0 3px 0;
			border-color:@gray-lighter;
			padding-left:0;
			font-size:22px;
			outline:none;
			box-shadow:none;
			border-radius:0;
			font-weight:300;
			&:active,&:focus{
				box-shadow:none;
				outline:none;
			}
		}
		.btn-next{
			border-radius:40px;
			border-width:2px;
			background-color:@alizarin;
			border-color:@alizarin;
			color:@white;
			font-weight:300;
			padding-left:25px;
			padding-right:25px;
			margin-left:15px;
			&:hover{
				background-color:@white;
				color:@alizarin;
				border-color:@alizarin;
			}
		}
		.btn-use-shipping{
			border-radius:40px;
			border-width:2px;
			background-color:@gray;
			border-color:@gray;
			color:@white;
			font-weight:300;
			padding-left:25px;
			padding-right:25px;
			margin-left:15px;
			&:hover{
				background-color:@white;
				color:@gray;
				border-color:@gray;
			}
		}
		.btn-group{
			.dropdown-toggle{
				border-radius:1px;
				background-color:@alizarin;
				border-color:@alizarin;
				font-weight:300;
				padding:15px 25px;
			}
			.dropdown-menu{
				box-shadow:none;
				border-radius:0;
				margin-top:0;
				border-width:0;
			}
			&.open{
				.dropdown-toggle{
					box-shadow:none;
					background-color:@pomegranate;
				}
			}
		}
	}	
}

.cart-payment{
	.col-credit-card{
		margin-top:50px;
		min-height:200px;
		#gradient.vertical(@peter-river;@belize-hole;0%;100%);
		border-radius:4px;
		h4{
			color:@white;
			font-weight:300;
			padding:18px;
		}
		form{
			padding:20px 0px 25px 0px;
			label{
				color:@white;
				font-weight:300;
				font-size:12px;
				text-shadow:1px 1px @belize-hole;
				text-transform:uppercase;
			}
			input{
				border-radius:3px;
				border-color:darken(@belize-hole,5%);
				box-shadow:0px 1px 2px lighten(@peter-river,15%);
				font-weight:300;
			}
			.btn-default{
				border-radius:3px;
				border-color:darken(@belize-hole,5%);
				box-shadow:0px 1px 2px lighten(@peter-river,15%);
				font-weight:300;
				margin-right:10px;
			}
		}
	}
	.btn-next{
		border-radius:40px;
		border-width:2px;
		background-color:@alizarin;
		border-color:@alizarin;
		color:@white;
		font-weight:300;
		padding-left:25px;
		padding-right:25px;
		margin-left:15px;
		margin-bottom:20px;
		&:hover{
			background-color:@white;
			color:@alizarin;
			border-color:@alizarin;
		}
	}
}

.footer-partners{
	width:100%;
	height:200px;
	background-color:@clouds;
	padding:30px 30px 0px 30px;
	.row{
		margin-bottom:0;
	}
}
.footer-large{
	width:100%;
	height:260px;
	background-color:#222;
	color:@clouds;
	font-family:'Lato';
	font-weight:300;
	padding-top:30px;
	text-align:center;
	h3{
		font-family:'Lato';
		font-weight:100;
		margin-bottom:20px;
		letter-spacing:1px;
	}
	.footer-large-payment{
		.flaticon{
			font-size:55px;
			color:@silver;
		}
	}
	.footer-large-social{
		.social-links{
			a{
				font-size:46px;
				margin-right:15px;
				&:last-child{
					margin-right:0;
				}
				&:hover{
					color:@peter-river;
				}
			}
			
		}
	}
	.footer-email-subscribe{
		form{
			padding:0 25px;
			.input-group{
				&:before{
				  	color:@silver;
				  	width:34px;
				  	font-family:'Linecons';
				  	content: '\e01f';
				  	font-size:24px;
				  	position:absolute;
				  	left:-4px;
				  	top:7px;
			  	}
			}
			input[type=email]{
				border-radius:0;
				box-shadow:none;
				font-family:'Lato';
				font-weight:300;
				border-width:0px 0px 2px 0px;
				background-color:transparent;
				padding-left:34px;
				font-size:24px;
				margin-bottom:15px;
				color:@peter-river;
			}
			button[type=submit]{
				border-radius:50px;
				width:180px;
				padding-top:6px;
				background-color:@white;
				border:2px solid @white;
				font-size:18px;
				color:@black;
				font-weight:300;
				letter-spacing: 1px;
				&:hover{
					background-color:transparent;
					color:@white;
				}
			}
		}
	}
}

.footer{
	width:100%;
	height:60px;
	text-align:center;
	font-size:13px;
	font-family:'Lato';
	font-weight:300;
	background-color:@white;
	padding-top:20px;
	color:@silver;
	a{
		color:@peter-river;
	}
}