@import "application-fonts.less";
@import "application-variables.less";
@import "application-icons.less";
@import "application-sidebar.less";

// Fonts
@import url(http://fonts.googleapis.com/css?family=Lato:100,200,300,400,700,);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Cutive+Mono);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100);

@media (min-width: 1600px) { 
	.container-fluid{
		padding:0 200px;
	}
}
html{
	min-height:100%;
}

body{
	.container-main{
		min-height:100%;
		padding-top:100px;
		.row{
			margin-bottom:@grid-gutter-width;
			.row{
				&:last-child{
					margin-bottom:0;
				}
			}
		}
		
	}
}

.navbar-main{
	height:100px;
	padding:25px 0px 15px 0px;
	background-color:@belize-hole;
	border-width:0;
	background-image:url(/assets/img/markstengler.jpg);
	background-repeat:no-repeat;
	background-position:left center;
	background-size:100px 100px;
	.navbar-header{
		.navbar-brand{
			font-size:24px;
			font-family:'Montserrat';
			font-weight:400;
			color:@white;
			border-width:0;
			margin-top:5px;
			padding-top:0;
			margin-left:80px;
			span{
				font-family:'Lato';
				font-weight:300;
				color:@white;
			}
			small{
				display:block;
				font-size:15px;
				letter-spacing:3px;
				color:@white;
				font-weight:300;
				font-family:'Lato';
				padding-left:3px;
				padding-top:2px;
				color:@midnight-blue;
			}
		}
	}
	.nav{
		border-width:0;
		li{
			a{
				font-family:'Lato';
				font-weight:300;
				font-size:18px;
				letter-spacing:1px;
				color:@white;
				&.search-trigger{
					.icon{
						&:before{
							margin-right:0;
						}
					}
				}
				&.join{
					border-left:1px solid @clouds;
				}
				.glyphicon{
					font-size:22px;
				}
				&:hover{
					color:@midnight-blue;
				}
			}
		}
		.dropdown{
			.dropdown-menu{
				li{
					a{
						color:@midnight-blue;
					}
				}
			}
		}
	}
	.navbar-products{
		display:none;
		height:400px;
		margin-top:20px;
		background-color:@belize-hole;
		color:@white;
		h3{
			color:@white;
			font-family:'Lato';
			font-weight:300;
		}
		.list-unstyled{
			font-size:16px;
			li{
				a{
					width:100%;
					padding:6px 8px;
					display:block;
					&:hover{
						background-color:#9ACD32;
						text-decoration:none;
						color:@white;
						
					}
				}
			}
		}
		.navbar-services-wrapper{
			overflow-y: scroll;
			max-height:305px;
			border-top:1px solid #222;
			border-bottom:1px solid #222;
			padding-top:15px;
		}
	}
	
	.navbar-books{
		.media{
			padding:7px;
			&:hover{
				cursor:pointer;
				color:@white;
				background-color:@pomegranate;
			}
		}
	}
	
}

.modal-search{
	margin:0;
	padding:0;
	.modal-dialog {
	  	width: 100%;
	  	height: 100%;
	  	padding: 0;
	  	margin:0;
	  	.modal-content {
	  		margin:0;
		  	height: 100%;
		  	border-radius: 0;
		  	background-color:rgba(0,0,0,.8);
		  	padding:100px;
		  	color:@clouds;
		  	.modal-header,.modal-body,.modal-footer{
			  	border-width:0;
		  	}
		  	.modal-header{
		  		height:100px;
			  	a{
				  	color:@clouds;
				  	font-size:32px;
			  	}
		  	}
		  	label{
			  	font-size:32px;
			  	margin-right:15px;
		  	}
		  	form{
			  	width:100%;
			  	.input-group{
				  	&:before{
					  	color:@clouds;
					  	width:36px;
					  	font-family:'Linecons';
					  	content: '\e020';
					  	font-size:28px;
					  	margin-right:-36px;
				  	}
			  	}
			  	input[type=search]{
				  	border-width:0 0 2px 0;
				  	background-color:transparent;
				  	box-shadow:none;
				  	color:@white;
				  	border-radius:0;
				  	padding-left:50px;
				  	font-size:32px;
				  	font-family:'Lato';
				  	font-weight:300;
				  	width:100%;
				  	outline: none;
				  	&:focus{
					  	outline: none;
				  	}
			  	}
		  	}
		  	
		}
	}
}

.modal-login{
	top:105px;
	.modal-dialog{
		.modal-content{
			border-radius:0;
			color:@clouds;
			background-color:@belize-hole;
			box-shadow:none;
			.modal-header,.modal-body,.modal-footer{
				border-width:0;
			}
			.modal-header{
				.modal-title{
					text-align:center;
				}
				button{
					&.close{
						font-size:32px;
						
					}
				}
			}
			.modal-body{
				text-align:center;
				margin-bottom:0;
				.btn-login-facebook, .btn-login-twitter {
					text-align:left;
					border-radius:0;
					border-width:0;
					width:224px;
					margin-left:0 auto;
					margin-right:0 auto;
					margin-bottom:15px;
					font-size:16px;
					.fa{
						padding-right:15px;
						width:32px;
					}
				}
				.btn-login-facebook{
					background-color:@wet-asphalt;
				}
				.btn-login-twitter{
					background-color:@peter-river;
				}
			}
			.modal-footer{
				margin-top:0;
				text-align:center;
			}
			form{
				border-top:1px solid @gray;
				padding-top:15px;
				margin-bottom:0;
				text-align:center;
				.form-group{
					text-align:center;
					.input-group{
						text-align:center;						
						margin-left:auto;
						margin-right:auto;
					}
				}
				input{
					text-align:center;
					border-radius:50px;
					box-shadow:0;
					border-width:0;
					outline:none;
					color:@belize-hole;
					font-family:'Lato';
					font-weight:300;
				}
			}
			button[type=submit]{
				text-align:center;
				border-radius:50px;
				box-shadow:0;
				border-width:0;
				width:224px;
				padding:12px 0px;
				outline:none;
				background-color:@peter-river;
				font-family:'Lato';
				font-weight:400;
				font-size:18px;
				margin-bottom:15px;
				&:hover{
					background-color:@midnight-blue;
				}
			}
		}
	}
}


.modal-register{
	top:105px;
	border-width:0;
	.modal-dialog{
		.modal-content{
			border-radius:0;
			border-width:0;
			background-color:@white;
			box-shadow:none;
			padding:50px;
			.modal-header,.modal-body,.modal-footer{
				border-width:0;
			}
			.modal-header{
				.modal-title{
					text-align:center;
				}
				button{
					&.close{
						font-size:32px;
						
					}
				}
			}
			.modal-body{
				.form{
					.form-group{
						label{
							font-size:20px;
							font-weight:300;
							
						}
						input{
							border-radius:0;
							box-shadow:none;
							font-family:'Lato';
							font-weight:300;
							border-width:0px 0px 2px 0px;
							background-color:transparent;
							padding-left:0;
							font-size:24px;
							&[type=checkbox]{
								margin-top:8px;
								font-size:22px;
							}
						}
						.form-control-feedback{
							top:23px;
							right:0px;
							line-height:0;
							cursor:pointer;
							color:@gray-light;
						}
						button[type=submit]{
							border-radius:50px;
							width:180px;
							padding-top:4px;
							background-color:@peter-river;
							border:2px solid @peter-river;
							font-size:24px;
							color:@white;
							&:hover{
								background-color:transparent;
								color:@peter-river;
							}
						}
					}
				}
			}
			.modal-footer{
				
			}
		}
	}
}

.st-menu{
	.media{
		padding:20px;
		color:@clouds;
		font-size:12px;
		h4{
			font-size:18px;
			font-family:'Lato';
			font-weight:300;
			color:@white;
		}
		border-bottom:1px solid #333;
		.shopping-cart-price{
			margin-top:5px;
			font-size:14px;
			display:block;
			color:@peter-river;
			text-align:right;
		}
	}
	.actions{
		padding:20px;
		button{
			border-radius:50px;
			width:150px;
			padding-top:4px;
			background-color:@peter-river;
			border:2px solid @peter-river;
			font-size:18px;
			color:@white;
			&:hover{
				background-color:transparent;
				color:@peter-river;
			}
		}
	}
	.totals{
		padding:20px;
		color:@belize-hole;
		font-size:22px;
		text-align:right;
		background-color:#333;
	}
}

.carousel{
	.carousel-inner{
		.item{
			.carousel-caption{
				background-color:rgba(0,0,0,.5);
				h1{
					font-family:'Vitesse Light';
					font-size:82px;
					span{
						text-transform: uppercase;
						
					}
				}
				.lead{
					font-family:'Lato';
					font-weight:400;
					color:@sun-flower;
				}
			}
		}
	}
}

.features{
	margin-top:20px;
	display:flex;
	.feature{
		background-position:right bottom;
		background-repeat:no-repeat;
		height:400px;
		position:relative;
		img{
			z-index:-1;
			position:absolute;
			top:0;
			left:0;
			
		}
		.caption{
			position:absolute;
			top:10%;
			width:80%;
			text-align:center;
			color:@white;
			margin:15px;
			background-color:rgba(0,0,0,.5);
			padding:15px;
			
			h3{
				margin-top:5px;
				font-family:'Vitesse Light';
				small{
					display:block;
					font-size:13px;
					letter-spacing: 1px;
					text-transform:uppercase;
					font-family:'Lato';
					font-weight:300;
					color:@alizarin;
				}
			}
			a{
				text-align:right;
				color:@alizarin;
				font-size:18px;
				font-family:'Vitesse Light';
			}
			
		}
		&:hover{
			cursor:pointer;
			.caption{
				background-color:rgba(0,0,0,.6);
				h3{
					color:@alizarin;
				}
			}
		}
		
	}
	.product{
		height:inherit;
		width:100%;
		background-size:cover;
		text-align:center;
		border:1px solid @silver;
		.caption{
			background-color:rgba(255,255,255,.6);
			padding:15px;
			margin:30px auto 25px auto;
			text-align:center;
			width:305px;

			h2{
				color:@pomegranate;
			}
			.price{
				font-size:30px;
			}
			.btn{
				border-radius:0;
				border-width:0;
				background-color:@pomegranate;
				&:hover{
					background-color:@black;
				}
			}
		}
	}
}

.index-appointment{
	padding:15px;
	text-align:center;
	background-color:@clouds;
	margin-top:20px;
	margin-bottom:0;
	form{
		label{
			font-weight:300;
			font-size:16px;
			margin-right:15px;
			color:@alizarin;
			line-height:20px;
		}
		input{
			border-radius:0;
			border-width:0px 0px 3px 0px;
			border-color:@alizarin;
			padding-left:0;
			font-size:22px;
			font-weight:300;
			box-shadow:none;
			outline:none;
			margin-right:15px;
			background-color:@clouds;
		}
		::-webkit-input-placeholder,
		input:-moz-placeholder,
		::-moz-placeholder,
		:-ms-input-placeholder {
			color:@clouds;
		}
		.btn-danger{
			border-radius:0;
			background-color:@alizarin;
			font-weight:300;
			border-width:2px;
			border-color:@alizarin;
			&:hover{
				background-color:@white;
				color:@alizarin;
			}
			
		}
	}
}

.product-single{
	margin-top:15px;
	.product-image{
		.product-image-footer{
			margin-top:15px;
			.product-image-thumbnails{				
				img{
					cursor:pointer;
					margin-right:10px;
				}
			}
			.product-rating{
				.product-rating-stars{
					padding:5px 15px;
					font-size:28px;
					color:@alizarin;
				}
				button{
					margin-top:7px;
					margin-right:15px;
					border-radius:40px;
					border-width:2px;
					background-color:@alizarin;
					border-color:@alizarin;
					color:@white;
					&:hover{
						background-color:@white;
						color:@alizarin;
					}
				}
			}
		}
	}
	.product-summary{
		.product-header{
			padding-bottom:15px;
			margin-bottom:0;
			h1{
				margin-top:0;
				padding-top:0;
				small{
					font-family:'Lato';
					font-weight:300;
					font-size:16px;
				}
			}
			.product-price{
				padding:8px 10px 0 0px;
				color:@alizarin;
				font-size:24px;
			}
			.btn-product-add{
				border-radius:50px;
				border-width:2px;
				background-color:@alizarin;
				border-color:@alizarin;
				&:hover{
					background-color:@white;
					color:@alizarin;
				}
			}
		}
		.product-nav{
			ul{
				font-family:'Lato';
				font-weight:300;
				li{
					a{
						color:@silver;
						
					}
					&.active{
						a{
							color:@alizarin;
						}
						&:hover{
							color:@pomegranate;
						}
					}
					&:hover{
						a{
							color:@concrete;
						}
					}
				}
			}
		}
		
		.product-content{
			.tab-pane{
				margin-left:0;
				p{
					font-size:17px;
					font-family:'Lato';
					font-weight:300;
					color:@gray;
				}
				.media-list{
					.media{
						font-family:'Lato';
						font-weight:300;
						margin-bottom:25px;
					}
				}
				&.product-videos{
					
				}
				&.product-reviews{
					form{
						label{
							padding-top:14px;
						}
					}
				}
			}
		}
		
	}
}

.service{
	.service-appointment{
		padding:15px;
		text-align:center;
		background-color:@clouds;
		form{
			label{
				font-weight:300;
				font-size:16px;
				margin-right:15px;
				color:@alizarin;
				line-height:20px;
			}
			input{
				border-radius:0;
				border-width:0px 0px 3px 0px;
				border-color:@alizarin;
				padding-left:0;
				font-size:22px;
				font-weight:300;
				box-shadow:none;
				outline:none;
				margin-right:15px;
				background-color:@clouds;
			}
			::-webkit-input-placeholder,
			input:-moz-placeholder,
			::-moz-placeholder,
			:-ms-input-placeholder {
				color:@clouds;
			}
			.btn-danger{
				border-radius:0;
				background-color:@alizarin;
				font-weight:300;
				border-width:2px;
				border-color:@alizarin;
				&:hover{
					background-color:@white;
					color:@alizarin;
				}
				
			}
		}
	}
	.service-reviews{
		margin-top:15px;
		.review{
			padding:25px;
			color:@asbestos;
			em{
				color:@silver;
				text-align:right;
				display:block;
			}
			&:nth-child(2){
			}
		}
	}
	
	.service-feature-header{
		height:350px;
		background-image:url(/assets/img/backgrounds/background_temp_01.jpg);
		background-repeat:no-repeat;
		background-position: center center;
		background-size:cover;
		.page-header{
			h1{
				font-size:40px;
				font-family:'Montserrat';
				color:lighten(@sun-flower,7%);
				small{
					color:@clouds;
				}
			}
			border-width:0;
		}
	}
	
	.service-feature-header-2{
		height:300px;
		background-image:url(/assets/img/backgrounds/healthy-life-09.jpg);
		background-repeat:no-repeat;
		background-position: center center;
		background-size:cover;
		.page-header{
			h1{
				font-size:50px;
				font-family:'Montserrat';
				color:@alizarin;		
				small{
					color:@clouds;
				}		
			}
			border-width:0;
		}
	}
	
	.service-feature-content{
		margin-top:40px;
		color:@asbestos;
		background-image:url(/assets/img/backgrounds/ivtherapy_01.jpg);
		background-repeat:no-repeat;
		background-position: left bottom;
		border-bottom:1px solid @silver;
	}
	
	.service-additional-content{
		margin-top:0px;
		color:@concrete;
		.page-header{
			h1{
				color:@alizarin;
			}
		}
		.nav-service-additional-content{
			li{
				a{
					color:@alizarin;
					font-weight:300;
					font-size:16px;
					border-radius:0;
					&:hover{
						
					}
				}
				&.active{
					a{
						color:@white;
						background-color:@alizarin;
					}
				}
			}
		}
	}
	.service-related-products,.wiki-related-products{
		margin-top:45px;
	}
}

.modal-product-video{
	top:65px;
	.modal-dialog{
		.modal-content{
			border-radius:0;
			color:@clouds;
			background-color:black;
			box-shadow:none;
			.modal-header,.modal-body,.modal-footer{
				border-width:0;
			}
			.modal-header{
				.modal-title{
					text-align:center;
				}
				button{
					&.close{
						font-size:32px;
						
					}
				}
			}
		}
	}
}
	
.cart-nav{
	.nav{
		li{
			a{
				padding-top:30px;
				padding-bottom:30px;
				border-width:0 0 4px 0;
				border-color:@gray-lighter;
				border-radius:0;
				font-size:24px;
				font-family:'Lato';
				font-weight:300;
				-webkit-font-smoothing: antialiased;
				color:@gray-lighter;
				background-color:#fafafa;
				.fa{
					font-size:24px;
					font-weight:100;
					-webkit-font-smoothing: antialiased;
				}
				&:hover{
					color:@gray;
					border-color:@gray-light;
				}
			}
			&.active{
				a{
					color:@alizarin;
					border-width:0 0 4px 0;
					border-color:@alizarin;
					background-color:@white;
					&:hover{
						color:@alizarin;
						border-width:0 0 4px 0;
						border-color:@alizarin;
					}
				}
			}
		}
	}
	&.row{
		margin-bottom:0px !important;
	}
	
}		
	
.cart-details{	
	.cart-products{
		margin:0;
		thead{
			tr{
				th{
					color:@pomegranate;
					border-width:0;
					font-weight:300;
				}
			}
		}
		tbody{
			tr{
				td{
					color:@gray;
					&.detail{
						.media{
							
							.media-body{
								font-weight:300;
								font-size:15px;
								.media-heading{
									font-family:'Ubuntu';
									color:@pomegranate;
								}
							}
						}
					}
					&.price, &.total{
						font-size:20px;
						font-weight:300;
						vertical-align:middle;
					}
					&.quantity{
						vertical-align:middle;
						input[type=number]{
							border-width:0 0px 2px 0;
							border-color:@pomegranate;
							outline:none;
							box-shadow:none;
							width:45px;
							padding:5px 10px;
							text-align:center;
						}
						.fa{
							color:@pomegranate;
							margin-left:5px;
							&:hover{
								cursor:pointer;
								color:@alizarin;
							}
						}
					}
				}
			}
		}
		tfoot{
			font-size:24px;
			font-weight:300;
			font-family:'Lato';
			color:@pomegranate;
		}
		
	}
	
	
	.promo-code{
		margin-bottom:15px;
		background-color:@clouds;
		padding:15px 5px;
		label{
			padding-right:15px;
			font-weight:300;
			font-family:'Lato';
			color:@concrete;
		}
		input{
			border-width:0;
			box-shadow:none;
			outline:none;
			margin-right:15px;
			font-weight:300;
		}
		button{
			border-radius:0;
			font-weight:300;
			font-family:'Lato';
			margin-left:15px;
			background-color:@concrete;
		}
	}
	
	.cart-actions{
		margin-bottom:15px;
		button{
			margin-top:7px;
			margin-right:15px;
			border-radius:40px;
			border-width:2px;
			&.btn-danger{
				background-color:@alizarin;
				border-color:@alizarin;
				color:@white;
				&:hover{
					background-color:@white;
					color:@alizarin;
					border-color:@alizarin;
				}
			}
			
			&.btn-default{
				background-color:@concrete;
				border-color:@concrete;
				color:@white;
				&:hover{
					background-color:@white;
					color:@concrete;
					border-color:@concrete;
				}
			}
			&:last-child{
				margin-right:0;
			}
		}
		
	}
}

.cart-login{
	.form-login,.form-register{
		margin-top:15px;
		label{
			font-weight:300;

		}
		input{
			border-radius:0;
			border-width:0;
			outline:none;
			padding-left:0;
			font-size:24px;
			color:@gray;
			font-weight:100;
			font-family:'Lato';
			border-width:0 0 3px 0;
			border-color:@alizarin;
			box-shadow:none;
			margin-bottom:20px;
			&:focus{
				outline:none;
				box-shadow:0;
				border-width:0 0 3px 0;
			}
		}
		button{
			border-radius:40px;
			border-width:2px;
			background-color:@alizarin;
			border-color:@alizarin;
			color:@white;
			font-weight:300;
			padding-left:25px;
			padding-right:25px;
			&:hover{
				background-color:@white;
				color:@alizarin;
				border-color:@alizarin;
			}
		}
	}
	.col-form-register{
		h3{
			color:@gray-light;
		}
	}
	.form-register{
		
		input{
			border-color:@gray-lighter;
		}
		button{
			background-color:@gray-lighter;
			border-color:@gray-lighter;
			color:@gray;
			&:hover{
				color:@gray;
				border-color:@gray-lighter;	
			}
		}
	}
	.col-help{
		h3{
			color:@gray-light;
		}
		color:@gray-light;
	}
}

.cart-shipping,.cart-billing{
	form{
		margin-top:15px;
		label{
			font-weight:300;
			color:@gray-light;
		}
		.twitter-typeahead{
			display:block !important;
		}
		.tt-hint{
			top:4px !important;
		}
		.tt-dropdown-menu{
			border-width:0;
			border-radius:0;
			background-color:rgba(255,255,255,.8);
			.tt-dataset-states{
				li{
					&:hover{
						background-color:@pomegranate;
						color:@white;
					}
				}
			}
		}
		input{
			border-width:0 0 3px 0;
			border-color:@gray-lighter;
			padding-left:0;
			font-size:22px;
			outline:none;
			box-shadow:none;
			border-radius:0;
			font-weight:300;
			&:active,&:focus{
				box-shadow:none;
				outline:none;
			}
		}
		.btn-next{
			border-radius:40px;
			border-width:2px;
			background-color:@alizarin;
			border-color:@alizarin;
			color:@white;
			font-weight:300;
			padding-left:25px;
			padding-right:25px;
			margin-left:15px;
			&:hover{
				background-color:@white;
				color:@alizarin;
				border-color:@alizarin;
			}
		}
		.btn-use-shipping{
			border-radius:40px;
			border-width:2px;
			background-color:@gray;
			border-color:@gray;
			color:@white;
			font-weight:300;
			padding-left:25px;
			padding-right:25px;
			margin-left:15px;
			&:hover{
				background-color:@white;
				color:@gray;
				border-color:@gray;
			}
		}
		.btn-group{
			.dropdown-toggle{
				border-radius:1px;
				background-color:@alizarin;
				border-color:@alizarin;
				font-weight:300;
				padding:15px 25px;
			}
			.dropdown-menu{
				box-shadow:none;
				border-radius:0;
				margin-top:0;
				border-width:0;
			}
			&.open{
				.dropdown-toggle{
					box-shadow:none;
					background-color:@pomegranate;
				}
			}
		}
	}	
}

.cart-payment{
	.col-credit-card{
		margin-top:35px;
		min-height:200px;
		#gradient.vertical(@peter-river;@belize-hole;0%;100%);
		border-radius:10px;
		h4{
			color:@white;
			font-weight:300;
			padding:18px;
			img{
				float:right;
			}
		}
		form{
			padding:20px 0px 25px 0px;
			label{
				color:@white;
				font-weight:300;
				font-size:12px;
				text-shadow:1px 1px @belize-hole;
				text-transform:uppercase;
			}
			input{
				border-radius:3px;
				border-color:darken(@belize-hole,5%);
				box-shadow:0px 1px 2px lighten(@peter-river,15%);
				font-weight:300;
				&[name=credit_card_number]{
					font-family:'Cutive Mono';
				}
				&[name=credit_card_name]{
					text-transform: capitalize;
				}
			}
			.btn-default{
				border-radius:3px;
				border-color:darken(@belize-hole,5%);
				box-shadow:0px 1px 2px lighten(@peter-river,15%);
				font-weight:300;
				margin-right:10px;
			}
		}
	}
	.btn-next{
		border-radius:40px;
		border-width:2px;
		background-color:@alizarin;
		border-color:@alizarin;
		color:@white;
		font-weight:300;
		padding-left:25px;
		padding-right:25px;
		margin-left:15px;
		margin-bottom:20px;
		&:hover{
			background-color:@white;
			color:@alizarin;
			border-color:@alizarin;
		}
	}
	.col-paypal{
		margin-top:35px;
		height:370px;
		background-color:@clouds;
		border-radius:6px;
		text-align:center;
		padding-top:90px;
	}
}

.cart-review{
	padding-top:15px;
	.cart-review-details{
		.media-list{
			.media{
				.media-body{
					padding-top:5px;
					vertical-align:middle;
					.cart-review-detail-price{
						font-family:'Lato';
						font-weight:300;
						color:@pomegranate;
					}
				}
				&.sub-total{
					margin-bottom:5px;
					padding-top:10px;
					border-top:1px solid @clouds;
					.media-body{
						.media-heading{
							.price{
								color:@asbestos;
								font-weight:300;
							}
						}
					}
				}
				&.taxes, &.shipping{
					margin-bottom:0px;
					margin-top:0;
					.media-body{
						.media-heading{
							font-weight:300 !important;
							color:@gray !important;
							font-size:14px;
							.price{
								color:@concrete; 
								font-weight:300 !important;
							}
						}
					}
					
				}
			}
		}
	}
	.cart-review-shipping, .cart-review-billing{
		.panel{
			.panel-footer{
				button{
					border-radius:0;
				}
			}
		}
	}
	.cart-review-actions{
		.btn-next{
			border-radius:40px;
			border-width:2px;
			background-color:@alizarin;
			border-color:@alizarin;
			color:@white;
			font-weight:300;
			padding-left:25px;
			padding-right:25px;
			margin-left:15px;
			&:hover{
				background-color:@white;
				color:@alizarin;
				border-color:@alizarin;
			}
		}
	}
}

.wiki-single{
	.page-header{
		margin-top:0px;
		margin-bottom:0px;
		padding:15px;
		padding-bottom:25px;
		background-image:url('/assets/img/backgrounds/background_temp_01_blurred.jpg');
		background-repeat:no-repeat;
		background-size:cover;
		background-position:center center;
		border-bottom-width:0;
		h1{
			font-family:"Ubuntu" !important;
			font-weight:400;
			color:black;
		}
	}
	.nav-wiki-single{
		li{
			a{
				border-radius:0;
				padding-top:15px;
				padding-bottom:15px;
				font-size:20px;
				font-weight:100;
				font-family:'Lato';
				color:@asbestos;
				text-transform: uppercase;
				background-color:@clouds;
				border-bottom:4px solid #e3e3e3;
			}
			&.active{
				a{
					background-color:@alizarin;
					color:@white;
					border-bottom:4px solid @pomegranate;
				}
				&:hover{
					a{
						background-color:@alizarin;
						border-bottom-color:@pomegranate;
					}
				}
			}
			&:hover{
				a{
					background-color:@silver;
					border-bottom-color:darken(@silver,25%);
				}
			}
		}
	}
	.tab-content{
		margin-top:20px;
		.lead{
			font-weight:300;
			color:darken(@asbestos,20%);
			a{
				color:@pomegranate;
				font-weight:300;
			}
			strong{
				font-weight:400;
			}
		}
		.wiki-single-sidebar{
			.wiki-featured-image{
				border-bottom:5px solid @alizarin;
				margin-top:5px;
				width:100%;
			}
			.panel{
				margin-top:15px;
				border-radius:0;
				.panel-heading{
					.panel-title{
						font-weight:100;
						font-family:'Lato';
						color:@pomegranate;
						font-size:20px;
						text-transform:uppercase;
						letter-spacing: 1px;
					}
				}
			}
		}
		.tab-pane{
			&#symptoms{
				.symptoms-summary{
					.lead{
						font-size:44px;
						font-weight:100;
						strong{
							font-weight:200;
							color:@pomegranate;
						}
					}
				}
				.symptoms-list{
					li{
						font-size:18px;
						font-weight:100;
						margin-bottom:10px;
						margin-right:7px;
						border-radius:2px;
						background-color:@concrete;
						
					}
					
				}
				.symptoms-note{
					.well{
						border-radius:0;
						margin-left:0;
						border-width:0;
						box-shadow:none;	
						h3{
							border-bottom:4px solid @asbestos;
							font-weight:200;
							font-family:'Lato';
							margin-top:0;
							padding-bottom:5px;
							
						}
						p {
							font-size:16px;
							font-weight:200;
							color:@gray;
							a{
								color:@pomegranate;
							}
						}
					}
				}
			}
			&#causes{
				ul{
					li{
						font-size:20px;
						font-family:'Lato';
						font-weight:200;
						color:@gray-dark;
					}
				}
			}
			&#treatments{
				.panel{
					border-radius:0;
					background-color:@clouds;
					border-width:0;
					.panel-heading{
						background-color:darker(@clouds,20%) !important;
						.panel-title{
							font-size:24px;
							font-weight:100;
							font-family:'Lato';
							color:@pomegranate;
						}
					}
					.panel-body{
						font-family:'Lato';
						color:@black;
						font-weight:200;
						font-size:16px;
						a{
							color:@pomegranate;
							font-weight:300;
						}
					}
					&.panel-danger{
						.panel-body{
							background-color:@white;
						}
					}
				}
			}
		}
	}
	.wiki-appointment{
		padding:15px;
		text-align:center;
		background-color:@clouds;
		margin-bottom:50px;
		form{
			label{
				font-weight:300;
				font-size:16px;
				margin-right:15px;
				color:@alizarin;
				line-height:20px;
			}
			input{
				border-radius:0;
				border-width:0px 0px 3px 0px;
				border-color:@alizarin;
				padding-left:0;
				font-size:22px;
				font-weight:300;
				box-shadow:none;
				outline:none;
				margin-right:15px;
				background-color:@clouds;
			}
			::-webkit-input-placeholder,
			input:-moz-placeholder,
			::-moz-placeholder,
			:-ms-input-placeholder {
				color:@clouds;
			}
			.btn-danger{
				border-radius:0;
				background-color:@alizarin;
				font-weight:300;
				border-width:2px;
				border-color:@alizarin;
				&:hover{
					background-color:@white;
					color:@alizarin;
				}
				
			}
		}
	}
}

.article-single{
	.page-header{
		h1{
			font-size:80px;
			font-family:'Vitesse Light';
			small{
				display:block;
				font-family:'Montserrat';
				font-size:30px;
				color:@concrete;
			}
			padding-bottom:15px;
			border-bottom:1px solid @silver;
			margin-bottom:0;
		}
		.article-single-author{
			padding:10px 15px 10px 0;
			border-right:1px solid @silver;
			float:left;
			font-size:15px;
			text-transform:uppercase;
			font-family:'Lato';
			font-weight:300;
			a{
				color:@alizarin;
			}
		}
		.article-single-date{
			padding:10px 15px;
			border-right:1px solid @silver;
			float:left;
			font-size:15px;
			text-transform:uppercase;
			font-family:'Lato';
			font-weight:300;
		}
		.article-single-print{
			padding:5px 15px;
			border-right:1px solid @silver;
			float:left;
			color:@concrete;
		}
		.article-single-share{
			padding:2px 10px;
			float:left;
			color:@concrete;
			a{
				margin-right:5px;
				color:@silver;
				&:hover{
					color:@pomegranate;
				}
			}
		}
		border-width:0;
	}
	.article-featured-image{
		img{
			border-bottom:1px solid @silver;
		}
	}
	.article-content{
		font-family:'Roboto Slab';
		font-weight:300;
		line-height:38px;
		font-size:22px;
		margin:25px 5px 10px 0;
		color:#231f20;
		.dropcap{
		    float:left;
		    font-size:400%;
		    margin-top:14px;
		    margin-right:5px;
		    color:@concrete;
		}
		h3{
			margin-top:25px;
			margin-bottom:15px;
			color:@asbestos;
			font-family:'Vitesse Light';
			padding-top:25px;
			border-top:1px solid @clouds;
			font-weight:700;
		}
		.article-featured-content{
			float:left;
			padding:25px;
			margin-right:25px;
			font-size:24px;
			line-height:34px;
			color:@concrete;
			font-family:'Montserrat';
			width:325px;
			font-weight:200;
			margin-left:-70px;
		}
		a{
			color:@pomegranate;
			&:hover{
				color:@alizarin;
			}
		}
	}
	.article-single-sidebar{
		margin-top:200px;
		.tab-content{
			margin-top:20px;
			.tab{
				.article-related-article{
					margin-bottom:20px;
					a{
						color:@pomegranate;
						font-size:22px;
					}
				}
			}
		}
	}
}

.footer-partners{
	width:100%;
	height:200px;
	background-color:@clouds;
	padding:30px 30px 0px 30px;
	.row{
		margin-bottom:0;
	}
}
.footer-large{
	width:100%;
	height:260px;
	background-color:@midnight-blue;
	color:@clouds;
	font-family:'Lato';
	font-weight:300;
	padding-top:30px;
	text-align:center;
	h3{
		font-family:'Lato';
		font-weight:100;
		margin-bottom:20px;
		letter-spacing:1px;
	}
	.footer-large-payment{
		.flaticon{
			font-size:55px;
			color:@silver;
		}
	}
	.footer-large-social{
		.social-links{
			a{
				font-size:46px;
				margin-right:15px;
				&:last-child{
					margin-right:0;
				}
				&:hover{
					color:#9ACD32;
				}
			}
			
		}
	}
	.footer-email-subscribe{
		form{
			padding:0 25px;
			.input-group{
				&:before{
				  	color:@silver;
				  	width:34px;
				  	font-family:'Linecons';
				  	content: '\e01f';
				  	font-size:24px;
				  	position:absolute;
				  	left:-4px;
				  	top:7px;
			  	}
			}
			input[type=email]{
				border-radius:0;
				box-shadow:none;
				font-family:'Lato';
				font-weight:300;
				border-width:0px 0px 2px 0px;
				background-color:transparent;
				padding-left:34px;
				font-size:24px;
				margin-bottom:15px;
				color:@peter-river;
			}
			button[type=submit]{
				border-radius:50px;
				width:180px;
				padding-top:6px;
				background-color:@white;
				border:2px solid @white;
				font-size:18px;
				color:@black;
				font-weight:300;
				letter-spacing: 1px;
				&:hover{
					background-color:transparent;
					color:@white;
				}
			}
		}
	}
}

.footer{
	width:100%;
	height:60px;
	text-align:center;
	font-size:13px;
	font-family:'Lato';
	font-weight:300;
	background-color:@white;
	padding-top:20px;
	color:@silver;
	a{
		color:@peter-river;
	}
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
	margin-bottom: 0;
}
.tt-hint {
	display: block;
	width: 100%;
	height: 38px;
	padding: 8px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #999;
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.tt-dropdown-menu {
	min-width: 160px;
	margin-top: 2px;
	padding: 5px 0;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
 
}
.tt-suggestion {
	display: block;
	padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
	color: #fff;
	background-color: @pomegranate;
	color:@white;
}
.tt-suggestion.tt-is-under-cursor a {
	color: #fff;
}
.tt-suggestion p {
	margin: 0;
}