@fontsdist: '../fonts';

@font-face {
	font-family: 'linecons';
	src:url('../fonts/linecons/linecons.eot');
	src:url('../fonts/linecons/linecons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/linecons/linecons.woff') format('woff'),
		url('../fonts/linecons/linecons.ttf') format('truetype'),
		url('../fonts/linecons/linecons.svg#linecons') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome/fontawesome-webfont.eot?v=4.1.0');
  src: url('../fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), 
  		url('../fonts/fontawesome/fontawesome-webfont.woff?v=4.1.0') format('woff'), 
  		url('../fonts/fontawesome/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), 
  		url('../fonts/fontawesome/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: "Flaticon";
	src: url("../fonts/paymenticons/flaticon.eot");
	src: url("../fonts/paymenticons/flaticon.svg") format("svg"),
	url("../fonts/paymenticons/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/paymenticons/flaticon.woff") format("woff"),
	url("../fonts/paymenticons/flaticon.ttf") format("truetype");
	
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'Vitesse Light';
  src: url('../fonts/vitesse/Vitesse-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/vitesse/Vitesse-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/vitesse/Vitesse-Light.woff') format('woff'), /* Modern Browsers */
       url('../fonts/vitesse/Vitesse-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/vitesse/Vitesse-Light.svg#5b3493a8800d1494f6fd0fc57113a28a') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}


@import "font-fontawesome.less";
@import "font-flaticons.less";